<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Layouts</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>


    <section>
        <div class="column">
          <h1>Layouts</h1>
        </div>
    </section>

    <section>
        <div class="column">
          <p>
            <a href="floats.html">Floats</a>
          </p>
          <p>
            <a href="flex.html">Flex</a>
          </p>

          <p>
            <a href="media-queries.html">Media Queries</a>
          </p>

        </div>
    </section>




  </body>
</html>
